<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.system.mapper.FcOrderMapper">

    <select id="selectPageOrderList" resultType="com.hexing.system.domain.FcOrder">
        select
        fco.id,
        fco.order_number,
        fco.order_title,
        fco.amount,
        fco.status,
        fco.sold_to_party_cd,
        fco.sold_to_party,
        fco.contract_number contractNumber,
        fcc.contract_name contractName,
        fco.require_delivery_date
        from fc_order fco
        left join fc_contract fcc on fcc.contract_number= fco.contract_number
        <where>
            <if test="order.orderNumber!=null and order.orderNumber !=''">
                and fco.order_number like concat('%', #{order.orderNumber}, '%')
            </if>
            <if test="order.reciver!=null and order.reciver !=''">
                and fco.reciver  like concat('%', #{order.reciver}, '%')
            </if>
        </where>
        order by order_number desc
    </select>
    <select id="selectByOrderNumber" resultType="com.hexing.system.domain.FcOrder">
        select  * from fc_order where order_number = #{orderNumber} limit 1
    </select>
</mapper>
