<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.system.mapper.FcOrderConsignmentMapper">
    <select id="listFcOrder" resultType="com.hexing.system.domain.FcOrderConsignment">
        select fcc.id,
               fcc.consigment_number,
               fcc.approval_status,
               fc.order_title orderTitle,
               fc.sold_to_party_cd customer,
               fcc.create_time,
               fc.amount amount
        from fc_order_consignment fcc
                 left join fc_order fc on fc.id = fcc.order_id
    </select>
</mapper>
