<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hexing.system.mapper.FcOrderConsignmentMapper">
    <select id="listFcOrder" resultType="com.hexing.system.domain.FcOrderConsignment">
        select fcc.id,
        fcc.consigment_number,
        fcc.approval_status,
        fc.order_title      orderTitle,
        fc.sold_to_party_cd customer,
        fcc.create_time,
        fcc.consignment_amount
        from fc_order_consignment fcc
        left join fc_order fc on fc.id = fcc.order_id


    </select>
    <select id="getConsignmentSum" resultType="java.lang.Double">
        SELECT SUM(focd.product_num)
        from fc_order fo
                 left join fc_order_consignment foc on foc.order_id = fo.id
                 LEFT JOIN fc_order_consignment_detail focd on foc.id = focd.consignment_id
        where fo.id = #{orderId}
          and foc.sync_sap_status = '1'
    </select>
</mapper>
